{% extends "layout/base.html" %}
{% load static %}

{% block content %}

<main class="container pt-4 p-2 gap-2">
<div class="row">   
    <!-- col-9 - колонка шириной 9/12 от родительской строки -->
    <div class="col-9 d-flex flex-column gap-3">    
        <h3>Registration</h3>
        
        <!-- Общие ошибки формы -->
        {% if form.non_field_errors %}
            <div class="alert alert-danger">
                {% for error in form.non_field_errors %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %}

        <form action="" method="POST" enctype="multipart/form-data" class="d-flex flex-column gap-3">
            {% csrf_token %}
            <!-- Login -->
            <div class="row g-3 align-items-start">
                <div class="col-3">
                    <label for="{{ form.username.id_for_label }}" class="col-form-label">
                        {{ form.username.label }}
                    </label>
                </div>
                <div class="col-7">
                    {{ form.username }}
                </div>
                <div class="col-2">
                    {% if form.username.errors %}
                        <div class="text-danger small mt-1">
                            {% for error in form.username.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>  
            </div>
            <!-- Email -->
            <div class="row g-3 align-items-start">
                <div class="col-3">
                    <label for="{{ form.email.id_for_label }}" class="col-form-label">
                        {{ form.email.label }}
                    </label>
                </div>
                <div class="col-7">
                    {{ form.email }}
                </div>
                <div class="col-2">
                    {% if form.email.errors %}
                        <div class="text-danger small mt-1">
                            {% for error in form.email.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
            <!-- NickName -->
            <div class="row g-3 align-items-start">
                <div class="col-3">
                    <label for="{{ form.nickname.id_for_label }}" class="col-form-label">
                        {{ form.nickname.label }}
                    </label>
                </div>
                <div class="col-7">
                    {{ form.nickname }}
                </div>
            </div>
            <!-- Password -->
            <div class="row g-3 align-items-start">
                <div class="col-3">
                    <label for="{{ form.password.id_for_label }}" class="col-form-label">
                        {{ form.password.label }}
                    </label>
                </div>
                <div class="col-7">
                    {{ form.password }}
                </div>
                <div class="col-2">
                    {% if form.password.errors %}
                        <div class="text-danger small mt-1">
                            {% for error in form.password.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>  
            </div>
            <!-- Repeat password -->
            <div class="row g-3 align-items-start">
                <div class="col-3">
                    <label for="{{ form.password2.id_for_label }}" class="col-form-label">
                        {{ form.password2.label }}
                    </label>
                </div>
                <div class="col-7">
                    {{ form.password2 }}
                </div>
                <div class="col-2">
                    {% if form.password2.errors %}
                        <div class="text-danger small mt-1">
                            {% for error in form.password2.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>  
            </div>
            <!-- Avatar -->
            <div class="row g-3 align-items-start">
                <div class="col-3">
                    <label for="{{ form.avatar.id_for_label }}" class="col-form-label">
                        {{ form.avatar.label }}
                    </label>
                </div>
                
                <div class="col-7">
                    <div class="d-flex flex-column align-items-start gap-3">
                        {{ form.avatar }}
                        <!-- <input type="file" id="avatarUpload" accept="image/*" hidden>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="c:\avatar.jpg" id="fileDisplay" readonly>
                            <button class="btn btn-outline-secondary" type="button" onclick="document.getElementById('avatarUpload').click()">
                                Choose
                            </button>
                        </div> -->
                    </div>
                </div>
            </div>
            <!-- Button -->
            <div class="row g-3 align-items-start">
                <div class="col-3"></div>
                <div class="col">
                    <button type="submit" class="btn btn-outline-dark px-4">Register!</button>
                </div>
            </div>
        </form>
                
    </div>
</div>
</main>
{% endblock %}