{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
    <title>Document</title>
</head>
<body>
    <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <a href="{% url 'index' %}" class="navbar-brand text-decoration-none">AskPupkin</a>
        <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
        <!-- <button class="btn btn-outline-success" type="submit">Ask!</button> -->
         <a href="{% url 'ask' %}" class="btn btn-outline-success">Ask!</a>
        </form>
        
        {% if profile %}
          <div class="d-flex gap-2 align-items-center">
            <div class="image">
              <img src="{{ profile.avatar.url }}" alt="img"
                  style="width: 50px; height: 50px; object-fit: cover;" />
            </div>
            <div class="content">
              <div class="navbar-brand"> {{ profile.user.username }} </div>
              <div class="d-inline link-opacity-50-hover"> <a href="{% url 'settings' %}">Settings</a> </div>
              <div class="d-inline link-opacity-50-hover"> <a href="#">Log out</a> </div>
            </div>
          </div> 
        {% else %}
        <div class="d-flex gap-2 align-items-center">
            <div class="d-inline link-opacity-50-hover"> <a href="{% url 'login' %}">Log in</a> </div>
            <div class="d-inline link-opacity-50-hover"> <a href="{% url 'registration' %}">Register</a> </div>
        </div> 
        {% endif %}

    </div>
    </nav>

    {% block content %} 
    {% endblock %}
</body>
</html>