{% extends "layout/base.html" %}
{% load static %}

{% block content %}

<main class="container pt-4 p-2 gap-2">
<div class="row">
    <!-- Основное -->
    <div class="col-9 d-flex flex-column gap-3">    
        <div class="card border-0">
        <div class="card-body d-flex gap-3 p-0">
            <div class="d-flex flex-column gap-3" style="width: min-content;">
                <div class="image">
                    <img src="{{ question.user.avatar.url }}" alt="img"
                        style="width: 120px; height: 120px; object-fit: cover;" />
                </div>
                <div class="card__likes">
                <!-- <input value={{question.cnt_likes}} type="number" class="form-control" /> -->
                {% if question.user_vote == 1 %}
                <button type="button" class="btn btn-primary" data-question-id="{{ question.id }}">{{question.cnt_likes}} Likes</button>
                {% elif question.user_vote == -1 %}
                <button type="button" class="btn btn-danger" data-question-id="{{ question.id }}">{{question.cnt_likes}} Likes</button>
                {% else %}
                <button type="button" class="btn btn-light" data-question-id="{{ question.id }}">{{question.cnt_likes}} Likes</button>
                {% endif %}
                </div>
            </div>
            <div class="flex-grow-1">
                <h5 class="card-title"> {{question.title}} </h5>
                <p class="card-text"> {{question.text}} </p>
                <div class="d-flex gap-2 align-items-center flex-wrap">
                    <p class="card-text mb-0">Tags:</p>
                    {% for t in question.tags %}
                    <a href="{% url 'tag' t.id %}">{{ t.title }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
        </div>
        <div class="d-flex flex-column gap-3 border-top border-bottom py-3" id="answers-container">
            {% for a in answers %}
            {% include "layout/one_answer.html" with answer=a %}
            {% endfor %}
        </div>
        
        <form action="" method="POST" class="col-12 d-flex flex-column gap-3">
            {% csrf_token %}

            <!-- Общие ошибки формы -->
            {% if form.non_field_errors %}
                <div class="alert alert-danger">
                    {% for error in form.non_field_errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}

            <div>
            {{ form.text }}
            <!-- <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"> Enter your answer here... </textarea> -->
            </div>
            <div>
            {% if form.text.errors %}
                <div class="text-danger small mt-1">
                    {% for error in form.text.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
            </div>  
        
            <button type="submit" class="btn btn-secondary w-25">Answer</button>
        </form>
    </div>
    {% include "layout/stats.html" %}
</div>

<script src="https://unpkg.com/centrifuge@5.0.0/dist/centrifuge.js"></script>
<script>

    const CENTRIFUGO_DOMAIN = '{{ centrifugo.domain }}';
    const CENTRIFUGO_TOKEN = '{{ centrifugo.token }}';
    const client = new Centrifuge(`ws://${CENTRIFUGO_DOMAIN}/connection/websocket`, {
        token: CENTRIFUGO_TOKEN
    });
    client.on('connecting', function(ctx) {
        console.log('connecting', ctx);
    });
    client.on('connected', function(ctx) {
        console.log('connected', ctx);
    });
    client.on('disconnected', function(ctx) {
        console.log('disconnected', ctx);
    });

    const sub = client.newSubscription('{{ centrifugo.channel_name }}');
    sub.on("subscribed", function(ctx) {
        console.log("Subscribed to channel: ", ctx.channel);
    })
    sub.on('publication', function(ctx) {
        console.log("New answer received:", ctx);
        if (ctx.data.answer_id) {
            loadAnswerHtml(ctx.data.answer_id);
        }
    });
    sub.subscribe();
    client.connect();

    function loadAnswerHtml(answerId) {
        fetch(`/answer/html/${answerId}/`, {
            method: 'GET',
            headers: {
                'X-CSRFToken': csrftoken,
                'Content-Type': 'application/json',
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data.html) {
                addAnswerToPage(data.html);
            } else if (data.error) {
                console.error('Error:', data.error);
            }
        })
        .catch(error => console.error('Fetch error:', error));
    }
    function addAnswerToPage(html) {
        const answersContainer = document.getElementById('answers-container');
        if (answersContainer) {
            answersContainer.innerHTML += html;
        }
    }
</script>
</main>
{% endblock %}